*/target/
target
.idea
*.iml
*.class
npm-debug.log
node_modules/
*/dev.properties
*/dev-web.properties
frontend/node_modules/*
.classpath
.project
.settings
.settings/*
*.orig
package-lock.json

.catalina/*

start_server.sh
stopped_server.sh

admin/node_modules/*
admin/bower_components/*

*landing.css
auctions-core/src/main/resources/auctions-core/setups/default/dev.properties
auctions-web/src/main/resources/auctions-web/setups/default/dev-web.properties

.DS_Store

uikit/node_modules
uikit/.tmp
uikit/bower_components
uikit/src/data/data.yml
uikit/src/assets/components
uikit/build
uikit/dist
uikit/.DS_Store
uikit/dist/01-design.html
uikit/dist/02-elements.html
uikit/dist/03-components.html
uikit/dist/docs.html
uikit/dist/index.html
uikit/dist/pages.html
uikit/src/data/data.yml

admin/dist

